<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="col-sm-4">
          <label for="sort-field">Classificar como:</label>
          <select class="form-control" name="sort-field" id="sort-field" [(ngModel)]="sortField">
            <option *ngFor="let field of sortFields" [value]="field">
              {{ utilService.capitalize(field) }}
            </option>
          </select>
        </div>
        <div class="col-sm-4">
          <label for="sort-direction"></label>
          <div>
            <button class="btn btn-primary" [ngClass]="{'btn-success': sortDirection == 'asc'}" (click)="sortDirection = 'asc'">
              Asc
            </button>
            <button class="btn btn-primary" [ngClass]="{'btn-success': sortDirection == 'desc'}" (click)="sortDirection = 'desc'">
              Desc
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngFor="let crib of cribs | sortBy: [sortField, sortDirection]">
    <app-crib-card [crib]="crib" class="col-sm-3"></app-crib-card>
  </div>
  <div class="alert alert-danger" *ngIf="error">{{ error }}</div>
</div>