<nav class="navbar navbar-default">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">ng2-Imóveis</a>
  </div>
</nav>

<div class="container">
  <app-add-listing-form></app-add-listing-form>
  <app-crib-listing></app-crib-listing>
</div>
