<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Adcionar na lista</h4>
  </div>

  <div class="panel-body">

    <form #newCribForm="ngForm" (ngSubmit)="onCribSubmit(newCribForm.value)">
      <div class="form-group col-sm-4">
        <label for="address" class="">Endereço</label>
        <input type="text" class="form-control" placeholder="Endereço" name="address" ngModel required>
      </div>
      <div class="form-group col-sm-4">
        <label for="price" class="">Preço</label>
        <input type="text" class="form-control" placeholder="Preço" name="price" ngModel required>
      </div>
      <div class="form-group col-sm-4">
        <label for="property-type" class="">Tipo de imóvel</label>
        <select name="type" id="property-type" class="form-control" ngModel required>
          <option *ngFor="let type of propertyTypes" [value]="type">
            {{ utilService.capitalize(type) }}
          </option>
        </select>
      </div>
      <div class="form-group col-sm-6">
        <label for="description" class="">Descrição</label>
        <textarea type="text" class="form-control" placeholder="Descrição" name="description" ngModel required>
        </textarea>
      </div>
      <div class="form-group col-sm-2">
        <label for="beds" class="">Camas</label>
        <input type="text" class="form-control" placeholder="Camas" name="bedrooms" ngModel required>
      </div>
      <div class="form-group col-sm-2">
        <label for="baths" class="">Banheiros</label>
        <input type="text" class="form-control" placeholder="Banheiros" name="bathrooms" ngModel required>
      </div>
      <div class="form-group col-sm-2">
        <label for="sqft" class="">Tamanho</label>
        <input type="text" class="form-control" placeholder="Tamanho" name="area" ngModel required>
      </div>
      <div class="form-group col-sm-12">
        <button class="btn btn-primary listing-button" type="submit" ng-show="addListing">
          Adcionar
        </button>
      </div>
    </form>

  </div>
</div>