<div class="thumbnail">
  <img src="assets/images/{{ crib.image }}.jpg" alt="crib thumbnail">
  <div class="caption">
    <div *ngIf="!crib.showDetails">
      <h4>
        <span class="label label-primary">
          {{ crib.type }}
        </span>
      </h4>
      <h3>
        <i class="glyphicon glyphicon-tag"></i>
        {{ crib.price | currency:'BRL':true}}
      </h3>
      <h4>
        <i class="glyphicon glyphicon-home"></i>
        {{ crib.address }}
      </h4>
      <hr>
      <button class="btn btn-sm btn-success" *ngIf="!crib.showDetails" (click)="crib.showDetails = !crib.showDetails">
        Detalhes
      </button>
    </div>
    <div *ngIf="crib.showDetails">
      <div class="details">
        <h4>
          <span class="label label-primary">
            Camas: {{ crib.bedrooms }}
          </span>
          <span class="label label-primary">
            Banheiros: {{ crib.bathrooms }}
          </span>
          <span class="label label-primary">
            Tamanho: {{ crib.area }}
          </span>
        </h4>
        <p>{{ crib.description }}</p>
        <hr>
        <button class="btn btn-sm btn-danger" (click)="crib.showDetails = !crib.showDetails">
          Fechar
        </button>
      </div>
    </div>
  </div>
</div>